/*
Due to the panels used on them, log-in and register use different stylesheet files than the others as they need a bit brighter colors as the backgrounds as well as different input settings.
*/

html {
  font-family: Arial, sans-serif;
  text-align: center;
}
button {
	color: #ffffff;
  background-color: #000000;
	font-size: 19px;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 15px 50px;
	cursor: pointer
      
}
button:hover {
	color: #000000;
	background-color: #ffffff;
}
body {
  background: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
.title00 {
  background: linear-gradient(to right, #94F752, #4E66CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 45px;
}
input {
  font-size: 2em;
  background-color: #232323;
}
